.container {
  width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
}
:root {
  --bulka: #f4f0ec;
  --gat: #4d5053;
  --but: #292f36;
  --dut: #ffffff;
  --tut: #cda274;
  --kuk: #4d5053;
  --aa: #e7e7e7;
}
.section1-ul {
  display: flex;
  list-style: none;
  justify-content: center;
}
.section1 {
  background: #f4f0ec;
  border-radius: 70px;
  padding-top: 103px;
  padding-bottom: 121px;
}
.section1-img {
  width: 77px;
  height: 77px;
}
.section1-h1 {
  text-align: justify;
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 58px;
  /* identical to box height, or 130% */
  text-align: center;
  letter-spacing: 0.22px;
  width: 479px;
  color: #292f36;
  margin: 0 auto;
  margin-bottom: 30px;
}
.section1-h1 {
  text-align: center;
}
.section1-li {
  width: 354px;
  background-color: #ffffff;
  border-radius: 30px;
}
.section1-li:not(:last-child) {
  margin-right: 18px;
}
.flex {
  display: flex;
}
.section1-h4 {
  font-family: "DM Serif display";
  padding-top: 55px;
}
.section1-p1 {
  font-family: "Jost";
  color: #4d5053;
}
.section1-p2 {
  width: 274px;
  height: 90px;
  font-family: "Jost";
  font-size: 20px;
  color: #4d5053;
  padding-right: 35px;
  /* margin: 0 auto; */
  margin-top: 32px;
  margin-left: 35px;
}
.margin {
  margin-left: 20px;
}
.section1-img {
  margin-left: 35px;
  margin-top: 50px;
}
.section2-ul {
  display: flex;
  list-style: none;
}
.section2-li {
  margin-left: 125px;
  padding-top: 170px;
  padding-bottom: 143px;
}
.section3-h2 {
  text-align: center;
  font-size: 47px;
  font-family: "DM Serif display";
  color: #292f36;
}
.section3-p {
  text-align: center;
  font-size: 20px;
  font-family: "Jost";
  color: #4d5053;
  width: 786px;
  margin-left: 300px;
  padding-bottom: 71px;
}
.section3-ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 61px 20px;
}
.aaa {
  display: flex;
  justify-content: space-between;
}
.section3-h4 {
  font-family: "DM Serif display";
}
.section3-p2 {
  font-family: "Jost";
  color: #4d5053;
}
.section4 {
  background-color: #f4f0ec;
  padding-top: 140px;
  padding-bottom: 140px;
  margin-top: 140px;
}
.section4-ul {
  display: flex;
  list-style: none;
  justify-content: center;
}
.section4-h4 {
  font-size: 100px;
  font-family: "dm serif display";
  color: #cda274;
}
.section4-p {
  font-family: "jost";
  font-size: 20px;
  width: 200px;
}
.section4-li:not(:last-child) {
  border-right: 1px solid black;
}
.section5-h2 {
  margin-top: 143px;
  text-align: center;
  margin-bottom: 21px;
  font-size: 40px;
  font-family: "dm serif display";
}
.section5-p {
  font-family: "jost";
  font-size: 23px;
  width: 589px;
  margin-left: 430px;
  margin-bottom: 70px;
}
.section4-li:not(:first-child) {
  margin-left: 128px;
}
.section6-ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin-bottom: 60px;
}
.section6-li {
  width: 387px;
  border-radius: 20px;
  background-color: #e7e7e7;
  margin-right: 20px;
}
.section6-img {
  width: 344px;
  margin-left: 21px;
  margin-top: 21px;
}
.section6-ppp {
  width: 125px;
  border-radius: 5px;
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: #ffffff;
}
.box {
  position: relative;
}
.section6-ppp {
  position: absolute;
  bottom: 29px;
  left: 25px;
}
.section6-ppp {
  font-family: "jost";
  margin-left: 20px;
}
.section6-p {
  font-family: "dm serif display";
  font-size: 25px;
  padding-top: 15px;
}
.section6-img2 {
  margin-left: 149px;
}
.section6-pp {
  margin-top: 34px;
  font-family: "jost";
  color: #4d5053;
}
.section6-li {
  margin-top: 40px;
}
